$blue-color: #3C8DBC;
$sky_blur-color:#00C0EF;
$red-color: #DD4B39;
$yellow-color: #F39C12;
$green-color: #00A65A;
$black-color: #1A2226;
$grey-color: #ECF0F5;
$black-hover-color:#2C3B41;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

body{
  background-color: $grey-color;
}

.App {
  font-family: sans-serif;
  text-align: center;
}


// navbar 

.navbar-light .navbar-nav .nav-link{
  color: $grey-color !important;
}


.card_top_img{
    width: 100%;
    padding: 15px;
    margin: auto;
    text-align: center;
    img{
      width: 70%;
    }
}

.cardBottom{
  height: 50px;
  button{
    background-color: $blue-color;
    border: none;
    padding: 15px;
    text-align: center;
    color: #fff;
    border-radius: 0px;
  }
}

.sidebar{
  width: 250px;
  height: 100vh;
  background-color:$black-color;
  float: left;
}

.widget_board{
      flex: 1;
      box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.1);
      margin: 0 15px;
      box-sizing: border-box;
      border-radius: 5px;
    .widget_row{
        cursor: pointer;
        display: flex;
        
        .img_block{
          flex: 0 0 30%;
          min-width: 30%;
          border-right: 1px solid #fff;
          padding: 10px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px    ;
          color: #eeffee;
          img{
            width: 90px;
            height: 90px;
          }
        }
        .content_block{
          flex: 0 0 70%;
          min-width: 70%;
        }
  }
}


.wid-board-name {
  font-size: 1.1rem;
  float: left;
  width: 63.5%;
  text-align: left;
  line-height: 3rem;
  margin-left: 15px;
  color: $black-color;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.bg_red{
  background-color:  $red-color;
}

.bg_blue{
  background-color:  $blue-color;
}


.bg_green{
  background-color:  $green-color;
}


.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

ul.productLists{
  margin: 15px;
  float: left;
  li{
    min-width: 10%;
    float: left;
    list-style: none;
    padding: 0px 15px;
  }
}




#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 25vw;
  position: relative;
  padding: 15px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: left;
  margin-top: 20vh;
}

.radioSelector {
  width: 20%;
  padding: 0px 10px;
  float: left;
}

.error{color: red;font-size: 12px; padding: 15px 0; text-align: center;}